body{background-image: url(https://t4.ftcdn.net/jpg/03/70/49/87/360_F_370498716_dLsaHESFAHnEV3a6aOqXTBV6fvslMgGq.jpg);
    background-size: cover;}

h1{
    font-family: "Kalam", cursive;
    color: darkred;
    text-align: center;
    font-size: 50px;
}
h3{
    font-family: "Kalam", cursive;
    text-align: center;
    font-size: 25px;
}
hr{
    max-width: 220px;
    border: 3px solid black;
    border-radius: 2px
}
#Ed{
    margin-top: 30px;
    margin-left: 120px;
    font-family: "Kalam", cursive;
    font-size: 25px;
}
label{
    color: darkred;
}
input{
    color: black;
}
.btn{
    font-family: "Kalam", cursive;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: darkred;
    width: 150px;
    height: 40px;
}
p{
    text-align: center;
    font-size: 30px;
}
#total input{
    font-size: 20px;
}